# Python
venv/
__pycache__/
*.pyc
db.sqlite3

# Node
node_modules/
dist/

# Env files
.env

# OS
.DS_Store

echo ai_engine/sessions/ >> .gitignore
echo *.csv >> .gitignore
echo *.db >> .gitignore
echo *.sqlite >> .gitignore